flask==2.2.5
werkzeug==2.2.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.11.4
matplotlib==3.8.4
seaborn==0.13.2
xgboost==3.2.0
lightgbm==4.6.0
mysql-connector-python==8.3.0
wordcloud==1.9.6
tld==0.13.2
googlesearch-python==1.2.3
pmdarima==2.0.4